## Copy this file to config.env and fill in the correct values
## See http://help.workamajig.com/api-overview for info on how to generate
## access and user tokens for your account.

WORKAMAJIG_CLIENT_URL=<subdomain>.workamajig.com
WORKAMAJIG_API_VERSION=beta1
WORKAMAJIG_ACCESS_TOKEN=<Access Token>
WORKAMAJIG_USER_TOKEN=<User Token>
